@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "./variables.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="file"] {
  display: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;

  @include opacity;
}

.hover__underline {
  display: inline-block;
  position: relative;
}

.hover__underline:after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  height: 0.1rem;
  top: 110%;
  left: 0;
  background-color: #43abf0;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.hover__underline:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 32px 110px;
  position: relative;
}

/* -------------------- Header ---------------------- */
.header {
  width: 100%;
  background: rgba(16, 16, 29, 0.9);
  opacity: 0.9;
  position: fixed;
  z-index: 3;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__logo {
  color: #43abf0;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  @include scale-item;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__item {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 60px;
  }
}

.nav__item--active {
  color: #43abf0;
}

/* -------------------- Main ---------------------- */

.hero {
  width: 100%;
}

.hero-container {
  background-image: url("../assets/img/two-men.webp");
  min-height: 810px;
  padding-top: 135px;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 780px;
}

.hero__container-title {
  text-transform: uppercase;
}

.hero-container__description {
  font-size: 20px;
  font-weight: 700;
}

.hero__list-item:before {
  padding-right: 7px;
  content: "—";
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  max-width: 50%;
}

.presentation__button {
  background: $blueColor;
  color: $whiteColor;
  border: 1px solid $whiteColor;
  width: 180px;
  max-width: 100%;
  padding: 16px 10px;
  border-radius: 4px;
  z-index: 1;
}

.order-file__button {
  background: $blueColor;
  border-radius: 4px;
  color: $whiteColor;
  border: 1px solid $whiteColor;
  width: 370px;
  max-width: 100%;
}

.hero-content__button {
  border: 2px solid #6f6d7b;
  background: $whiteColor;
  color: #272733;
  width: 180px;
  max-width: 100%;
  padding: 15px 10px;
  border-radius: 3px;
  z-index: 1;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.benefits__item-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  width: 170px;
  text-align: center;
}

.benefits__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blueColor;
  stroke-width: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #286690;
}

.circle {
  border-radius: 50%;
  background-color: $blueColor;
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

.benefits__item-icon {
  width: 55px;
  height: 55px;
  z-index: 1;
}

.dots {
  border-top: dotted 6px #c4c4c4;
  width: 3.5em;
  height: 3em;
}

.order {
  color: $whiteColor;
}

.order-container {
  background: url("../assets/img/map.webp") #272733 50% / cover no-repeat;
  min-height: 810px;
  padding-top: 135px;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.order-content {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.order__title {
  font-size: $titleSize;
  text-transform: uppercase;
  font-weight: 800;

  & span {
    color: $blueColor;
  }
}

.order__description {
  color: $greyColor;
}

.order-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-gap: 30px;
  gap: 30px;

  & input {
    padding: 10px;
    width: 370px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;

    border-radius: 3px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.85);
    color: #272733;

    &::placeholder {
      color: #272733;
    }
  }
}

.select-dropdown {
  background: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
  margin: 0 auto;
  width: 370px;
  max-width: 100%;
}
.select-dropdown select {
  color: $whiteColor;
  padding: 8px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}
.select-dropdown option {
  background: rgba(39, 39, 51, 0.9);
  color: #fff;
  width: 100%;
}

.select-dropdown option:checked {
  color: #42a9ed;
}

.order-slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order-range {
  flex-grow: 3;
}

.order-file {
  // flex-grow: 1;
}

.order-file__icon {
  width: 17px;
  height: 20px;
  margin-right: 10px;
}

input[type="range"] {
  width: 85%;
}

.input-file {
  border-radius: 3px;
  border: 2px solid $blueColor;
  background: $whiteColor;
  color: #272733;
  width: 370px;
  max-width: 100%;
}

.image-upload > input {
  display: none;
}

.order-file__btn {
  background: $blueColor;
  border-radius: 4px;
  color: $whiteColor;
  border: 1px solid $whiteColor;
  width: 370px;
  max-width: 100%;
}

/* -------------------- Footer ---------------------- */

.footer {
  width: 100%;
  background-color: $bgColor;
}

.footer-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  flex-shrink: 0;
  padding: 30px;
}

.payment-methods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.payment-methods__item {
  display: flex;
}

.social {
  display: flex;
}

.social__item {
  display: flex;
}

.social__item-link {
  display: flex;
}

.footer-body__separator {
  margin: 0px 5px;
  width: 1px;
  height: 19px;
}

.payment-methods__icon,
.social__item-icon {
  height: 19px;
  max-width: 20px;
  margin-right: 10px;
}

/* -------------------- Mobile ---------------------- */
@media (max-width: 950px) {
  .header_container {
    min-height: 50px;
  }

  .buttons-container {
    max-width: 100%;
  }

  .dots {
    display: none;
  }

  .order-form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .order-content {
    height: 100%;
  }

  .order-range {
    margin-bottom: 20px;
  }

  .order-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
    width: 100%;
  }

  .order-file__button {
    margin-bottom: 30px;
  }

  .benefits {
    justify-content: center;
  }

  .benefits__item {
    max-width: 100%;
    max-height: 100%;
  }

  .nav {
    margin-left: 10px;
  }

  .nav__item {
    font-size: 14px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .footer {
    padding: 10px;
  }

  .payment-methods {
    gap: 25px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 10px;
  }
}
