@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "./variables.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="file"] {
  display: none;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 32px 110px;
  position: relative;
}

/* -------------------- Header ---------------------- */
.header {
  width: 100%;
  background: rgba(16, 16, 29, 0.9);
  opacity: 0.9;
  position: fixed;
  z-index: 1;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__logo {
  color: var(--text90);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;

  &:hover {
    @include scale-item;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 60px;
  }
}

.nav__item--active {
  color: #43abf0;
}

/* -------------------- Main ---------------------- */

.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.hero-container {
  background-image: url("../assets/img/two-men.webp");
  min-height: 810px;
  padding-top: 135px;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 780px;
}

.hero__container-title {
  text-transform: uppercase;
}

.order-file__btn {
  background: #3e9cdc;
  border-radius: 4px;
  color: $whiteColor;
  border: 1px solid $whiteColor;
}

.hero-content__button {
  border-radius: 3px;
  border: 2px solid #3e9cdc;
  background: $whiteColor;
  color: #272733;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.benefits__item-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  width: 170px;
  text-align: center;
}

.benefits__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3e9cdc;
  stroke-width: 5px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #286690;
}

.benefits__item-icon {
  width: 55px;
  height: 55px;
}

.dots {
  border-top: dotted 6px #c4c4c4;
  width: 3.5em;
  height: 3em;
}

.order {
  padding-top: 810px;
  color: $whiteColor;
}

.order-container {
  background: url("../assets/img/map.webp") #272733 50% / cover no-repeat;
  min-height: 810px;
  padding-top: 135px;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.order-content {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.order__title {
  font-size: $titleSize;
  text-transform: uppercase;
  font-weight: 800;

  & span {
    color: #3e9cdc;
  }
}

.order__description {
  color: $greyColor;
}

.order-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-gap: 30px;
  gap: 30px;

  & input {
    padding: 10px;
    width: 370px;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;

    border-radius: 3px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.85);
    color: #272733;

    &::placeholder {
      color: #272733;
    }
  }
}

.select-dropdown {
  background-color: tomato;
  border-radius: 2px;
  margin: 0 auto;
}
.select-dropdown select {
  font-family: "helvetica neue", helvetica;
  font: 26px Cursive;
  color: white;
  padding: 8px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
}
.select-dropdown option {
  font: 26px Cursive;
  background: yellow;
  color: #444;
  width: 100%;
}

.order-slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order-range {
  flex-grow: 3;
}

.order-file {
  // flex-grow: 1;
}

.order-file__icon {
  width: 17px;
  height: 20px;
  margin-right: 10px;
}

input[type="range"] {
  width: 85%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 370px;
  font-size: 15px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.input-file {
  border-radius: 3px;
  border: 2px solid #3e9cdc;
  background: $whiteColor;
  color: #272733;
}

.image-upload > input {
  display: none;
}

.order-file__btn {
  background: #3e9cdc;
  border-radius: 4px;
  color: $whiteColor;
  border: 1px solid $whiteColor;
}

/* -------------------- Footer ---------------------- */

.footer {
  padding-top: 1610px;
  width: 100%;
  background-color: $bgColor;
}

.footer-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-shrink: 0;
  height: 80px;
}

.payment-methods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.payment-methods__item {
  display: flex;
}

.social {
  display: flex;
}

.social__item {
  display: flex;
}

.social__item-link {
  display: flex;
}

.footer-body__separator {
  width: 1px;
  height: 19px;
}

.payment-methods__icon,
.social__item-icon {
  height: 19px;
  max-width: 20px;
  margin-right: 10px;
}
