@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "./variables.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  place-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="file"] {
  display: none;
}

._container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 32px 110px;
  position: relative;
}

/* -------------------- Header ---------------------- */
.header {
  width: 100%;
  background: rgba(16, 16, 29, 0.9);
  opacity: 0.9;
  position: fixed;
  z-index: 1;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__logo {
  color: var(--text90);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;

  &:hover {
    @include scale-item;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: 60px;
  }
}

.active {
  color: #43abf0;
}

/* -------------------- Main ---------------------- */

.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.hero-container {
  background-image: url("../assets/img/two-men.webp");
  min-height: 810px;
  padding-top: 135px;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.order-container {
  background: url("../assets/img/map.webp") #272733 50% / cover no-repeat;
  min-height: 810px;
  padding-top: 135px;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.order {
  padding-top: 810px;
  color: $whiteColor;
}

.order-container {
  background: url("../assets/img/map.webp") #272733 50% / cover no-repeat;
  min-height: 810px;
  padding-top: 135px;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.order__title {
  font-size: $titleSize;
  text-transform: uppercase;
  font-weight: 800;

  & span {
    color: #3e9cdc;
  }
}

.order__description {
  color: $greyColor;
}

.order-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  grid-gap: 30px;
  gap: 30px;

  & input {
    padding: 10px;
    justify-content: space-between;
    align-items: center;

    border-radius: 3px;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.85);
    color: #272733;

    &::placeholder {
      color: #272733;
    }
  }
}

.order-slider {
  display: flex;
  justify-content: space-between;
}

.order-range {
  flex-grow: 3;
  width: 90%;
}

.order-file {
  flex-grow: 1;
}

.order-slider__file-icon {
  width: 17px;
  height: 20px;
}

input[type="range"] {
  width: 90%;
}

.input-file {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

/* -------------------- Footer ---------------------- */

.footer {
  padding-top: 1610px;
  width: 100%;
  background-color: $bgColor;
}

.footer-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-shrink: 0;
  height: 80px;
}

.payment-methods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.payment-methods__item {
  display: flex;
}

.social {
  display: flex;
}

.social__item {
  display: flex;
}

.social__item-link {
  display: flex;
}

.footer-body__separator {
  width: 1px;
  height: 19px;
}

.payment-methods__icon,
.social__item-icon {
  height: 19px;
  max-width: 20px;
  margin-right: 10px;
}
