$bgColor: #3d4050;
$whiteColor: #fff;
$greyColor: #bbb;
$titleSize: 36px;
$widthBody: 80%;
$blueColor: #3e9cdc;

// hover
$scaleSize: 1.1;
$transitionHover: 0.2s linear;

// mixins
@mixin scale-item {
  cursor: pointer;
  transition: all $transitionHover;

  &:hover {
    scale: $scaleSize;
  }
}

@mixin opacity {
  opacity: 1;
  transition: all $transitionHover;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}
